/* //114 */
.container{
    width:100%;
    height:92%;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
    font-weight: 800;
}
.city{
    font-size:2.5em;
    margin:5% 0;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    text-align: center;
}
.country{
    font-size:.5em;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    font-weight:400px;
    color:rgb(255, 255, 255);
}
.temp{
    height:30%;
    display:flex;
    align-items: center;
}
.temp h1{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
  
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.state {
    width: 100%;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    position: absolute;
    bottom:5%;
    display:flex;
    justify-content:space-around;
}
.twosidedsection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    /* background-color: blanchedalmond; */
  }
.date{
    position:absolute;
    top:5%;
    right:10%;
}
.weatherState{
    position: absolute;
    top:5%;
    left:10%;
}
.weatherState i{
    font-size:2em;    
}
@media only screen and (max-width: 800px) {
    .state {
        font-size: 20px;
        font-weight: 500;
        flex-direction: column;
    }
    .temp{
        position: absolute;
        top:30%;
    }
    .temp h1{
        padding:10px;
        font-size: 80px;
        font-weight: 700;
    }
    .city{
       position: absolute;
       top:8%;
    }
  }